*{
    margin: 0;
    padding: 0;
    color: #c96e11;

}

/* fae96f */
/* f6c100 */
/* c96e11 */

nav{
    background-color: #fdfce8;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    background-color: #fdcf62;
}
main{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
}

button{
    cursor: pointer;
}

.beer-name{
    text-decoration: underline;
    transition: .25s;
}

.beer-name:hover{
    cursor: pointer;
    color: red;
    font-size: 1.1rem;
    transform: 100%;
}

#logo-div{
    flex: 1;
    font-size: 2em;
    /* margin-right: 200px; */
    margin-left: 50px;

}

#link-div{
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.log-in-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfce8;
    height: 60vh;
    width: 30vw;
    margin-top: 10vh;
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 30vh;
    width: 280px;
}

.log-page-btn{
    align-self: center;
    color: #fdfce8;
    background-color: #c96e11;
    border: 0;
    padding: 10px;
}

#profile-div{
    width: 100vw;
    flex: 1;
}

#welcome-div{
    margin: 20px;
    margin-left: 50px;
}

#create-entry-div{
    display: flex;
    margin-left: 50px;
    width: 300px;
    height: 50px;
}

#create-entry-btn{
    width: 300px;
    height: 50px;
    font-size: 2em;
    background-color: #fdfce8;
}

.beer-card{
    margin: 50px;
    height: 35vh;
    width: 40vw;
    border: 1px solid #c96e11;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fdfce8;

}

.beer-card-top{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #fdfce8;
    border-bottom: #c96e11 1px solid;
    border-radius: 10px 10px 0px 0px;
}

.beer-name-div{
    display: flex;
    align-items: center;
    margin-left: 5px;
    flex: 1;
    border-right:#c96e11 1px solid;
}

.beer-rating-div{
    display: flex;
    align-items: center;
    margin-left: 5px;
    flex: 1;
}

.beer-card-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    border-bottom: #c96e11 1px solid;
    padding: 5px;
    
}

.beer-notes{
    height: 20vh;
    width: 35vw;
    border: #c96e11 solid 1px;
    border-radius: 10px;
    
}

.beer-notes-header{
    flex: 1;
    padding: 5px;
    border-bottom: #c96e11 solid 1px;
}


.beer-notes-body{
    flex: 10;
    padding: 5px;
}

.beer-card-bottom{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}


.card-btn{
    margin-right: 15px;
    border: none;
    padding: 5px;
    background-color: #c96e11;
    color: #fdfce8;
}

#beer-notes-input{
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    resize: none;
    width: 100%;
    height: 14vh;
  }

#table-div{
    margin: 50px;
    flex: 1;
}

table{
    width: 60%;
    text-align: start;
    border-collapse: collapse;
    border-color: #c96e11;
    padding: 10px;
}

th{
    padding: 1px;
    text-align: start;
    background-color: #c96e11;
    color:#fdfce8;
}

tr{
    padding: 100px;
    background-color: #fdfce8;
    color: #c96e11;
}

tr:nth-child(even){
    color: #fdfce8;
    background-color: #fce9d3;
}

p{
    display: flex;
    color: #c96e11;
}

.th-div{
    display: flex;
    flex-direction: row;
    color: #fdfce8;
}

#create-entry-toggle{

    height: 35vh;
}

.back-to-list-btn{
    margin: 50px 0px 0px 30px;
    border: none;
    background-color: #c96e11;
    color: #fdfce8;
    /* height: 35px; */
    padding: 10px;
}

#back-button-div{
    height: 75px;
    margin-bottom: 50px;
}

#container{
    overflow: hidden;
    position: fixed;
    top: 0vh; 
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}

.bubbles{
    position: absolute;
    background-color: #fdfce8;
    border-radius: 50%;
    overflow: hidden;
    top: 100vh;
}


@keyframes rise {
    25% { transform: translateX(-6px) translateY(-25vh);}
    50% { transform: translateX(6px) translateY(-50vh);}
    75% { transform: translateX(-6px) translateY(-75vh);}
    100% { transform: translateY(-100vh);} 
  }